body {
    height: 100%;
}

.topnav a:hover {
    background-color: rgb(255, 255, 255);
}

.topnav {
    background-color: rgb(234, 217, 187);
    align-items: center;
    font-weight: 900;
}

.top {
    display: flex;
    justify-content: space-between;
}

.menu {
    float: left;
    color: rgb(0, 0, 0);
    padding: 25px 20px;
    text-decoration: none;
}

.everyadown {
    background-color: rgb(234, 217, 187);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

    .everyadown a {
        display: inline-block;
        color: black;
        font-weight: 300;
        text-align: center;
        padding: 11px 16px;
        text-decoration: none;
    }

        .everyadown a:hover {
            background-color: white;
            color: black;
        }
